################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
eggs-directory=../../eggs/cache
versions = versions
hooks-directory = ${buildout:directory}/hooks
parts=part
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/distfiles/aspell-0.60.6.1.tar.gz
md5sum = e66a9c9af6a60dc46134fdacf6ce97d7
# pre-configure-hook=${buildout:directory}/hooks.py:h

[mirrors]
gentoo=gentoo.tiscali.nl
